@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes partialFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes expand {
  0% {
    opacity: 0;
    transform: scaleY(0.3);
  }
  80% {
    opacity: 0.5;
    transform: scaleY(1);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.5);
  }
}

@keyframes dashAnimation {
  0% {
    stroke-dasharray: 0, 100;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 150, 0;
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dasharray: 0, 100;
    stroke-dashoffset: -200;
  }
}

.animatedLine {
  animation: dashAnimation 2s linear infinite;
}

.bg-image {
  animation: zoom 1s ease-out forwards;
}

.bg-overlay {
  animation: partialFadeOut 1s ease-in-out forwards;
}

.expand {
  animation: expand 1s ease-out forwards;
}

.fade-in-moon {
  animation: fadeIn 1s ease 0.5s forwards;
}

.fade-out-moon {
  animation: fadeOut 1s ease 0.5s forwards;
}

.fade-in-layout {
  animation: fadeIn 1s ease 0.5s forwards;
}

.fade-in-content {
  animation: fadeIn 0.5s ease 0.7s forwards;
}

@keyframes phaseOut {
  0% {
    width: 100%;
    border-radius: 50%;
    z-index: 10;
  }
  50% {
    width: 50%;
    border-radius: 0%;
    z-index: 0;
  }
  100% {
    width: 50%;
    border-radius: 0%;
    z-index: 0;
  }
}

@keyframes phaseIn {
  0% {
    width: 50%;
    border-radius: 0%;
    z-index: 0;
  }
  50% {
    width: 50%;
    border-radius: 0%;
    z-index: 0;
  }
  100% {
    width: 100%;
    border-radius: 50%;
    z-index: 10;
  }
}

.phase-out {
  animation: phaseOut 2s ease-in forwards;
}

.phase-in {
  animation: phaseIn 2s ease-out forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 30s linear infinite;
}

.rotate-reverse {
  animation: rotate 30s linear infinite reverse;
}
