@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/app/styles/animations.css";

:root {
  --color-scrollbar-thumb: rgba(255, 255, 255, 0.3);
  --color-scrollbar-track: rgba(0, 0, 0, 0.15);
}

/* Set screen height with useScreenHeight for mobile devices */
.h-screen-hook {
  height: calc(var(--vh, 1vh) * 100);
}

.expanded {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.glass {
  backdrop-filter: blur(10px);
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.text-shadow-sm {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.top-vignette {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    transparent 100%
  );
}

.footer-text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
}

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
  }
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar-track::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
  }
  .scrollbar-thumb::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
  }
}
