@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 900;
  src: url("/SourceSans3-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 900;
  src: url("/SourceSans3-BlackItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  src: url("/SourceSans3-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 700;
  src: url("/SourceSans3-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 800;
  src: url("/SourceSans3-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 800;
  src: url("/SourceSans3-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 200;
  src: url("/SourceSans3-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 200;
  src: url("/SourceSans3-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 400;
  src: url("/SourceSans3-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 300;
  src: url("/SourceSans3-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 300;
  src: url("/SourceSans3-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 500;
  src: url("/SourceSans3-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  src: url("/SourceSans3-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  src: url("/SourceSans3-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 600;
  src: url("/SourceSans3-SemiBoldItalic.woff2") format("woff2");
}
