@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";
@import "./animations.css";

:root {
  --brand-color-100: #d9ed92;
  --brand-color-200: #b5e48c;
  --brand-color-300: #99d98c;
  --brand-color-400: #76c893;
  --brand-color-500: #52b69a;
  --brand-color-600: #34a0a4;
  --brand-color-700: #168aad;
  --brand-color-800: #1a759f;
  --brand-color-900: #1e6091;
  --brand-color-1000: #184e77;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

.bg-image {
  animation: zoom 1.5s ease-in-out forwards;
}

.bg-overlay {
  animation: partialFadeOut 1.5s ease-in-out forwards;
}
