/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600"); */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./animations.css";
@import "./fonts.css";

body {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 600;
}

.expanded {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.glass {
  backdrop-filter: blur(10px);
}

.text-shadow {
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.7);
}

.footer-text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
}
